

<div class="space_50">

  <!--模試履歴-->
<div class="flex">
  <div class="title">模試履歴</div>
  <% if @mock_exams.count == 0 %>
  <% else %>
  <div class="left-space-10"><%= link_to "一覧を見る", mock_exams_path, class: "small-btn btn btn-primary list-link" %></div>
  <% end %>
  <div class="">
    <div class="left-space-80 font-25 edit-customer">
      会員情報を変更する
      <%= link_to(edit_customer_path(@customer.id)) do %>
      <span>
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <% end %>
    </div>
    <div><i class="fa-regular fa-square-arrow-right"></i></div>
  </div>
</div>

  <% if @mock_exams.count == 0 %>
  <div>まだ模試履歴がありません。</div>

  <% else %>
  <div>
    <table class="space_30">
      <thead>
        <tr>
          <th class="outline">日時</th>
          <th class="outline">カテゴリ</th>
          <th class="outline">正解数</th>
          <th colspan="1" class="outline"></th>
        </tr>
      </thead>
      <% @mock_exams.take(5).each do |mock_exam| %>
      <tbody>
        <tr>
          <td class="outline"><div class=""><%=mock_exam.created_at.strftime('%Y/%m/%d %H:%M') %></div></td>
          <td class="outline">
            <% mock_exam.answers.take(1).each do |answer| %>
              <%= answer.quiz.item.large_category.name %>
            <% end %>
          </td>
          <td class="outline">
            <span><%= mock_exam.point %></span>
            <span class="font-12">/40</span>
          </td>
          <td class="outline"><%= link_to "詳細", mock_exam_path(mock_exam.id), class: "small-btn btn btn-success btn-sm" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <% end %>

  <% if @mock_exams.count > 5 %>
  <div>最新5件を表示中(全<%= @mock_exams.count %>件)</div>
  <% else %>
  <% end %>

</div>
  <!---->