
<div>模試</div>

</br>
</br>

<button>答えを表示する</button>


<%= form_with model: @mock_exam, url: mock_exams_path, method: :post do |f| %>
<table>
  <thead>
    <tr>
      <th>番号</th>
      <th>問題</th>
      <th colspan="2"></th>
      <th>解答</th>
      <th>答え</th>
      <th colspan="1"></th>
    </tr>
  </thead>


  <tbody>

    <% @items.each do |item| %>
    <% item.quizzes.take(40).each do |quiz| %>
      <tr>
        <td>番号</td>
        <td><%= quiz.question %></td>
        <td>
          A<%= image_tag quiz.get_number_a_image(50, 50) %>
          B<%= image_tag quiz.get_number_b_image(50, 50) %>
          C<%= image_tag quiz.get_number_c_image(50, 50) %>
        </td>

        <td>
          <%= f.fields_for :answers, @mock_exam.answers.build, url: answers_path, method: :post do |a| %>
            <%= a.check_box :scoring %>


        <td><%= a.text_field :answer %></td>
        <%= a.hidden_field :quiz_id, value: quiz.id %>
        </td>

        <td>

          <p><%= quiz.correct_answer %></p>

        </td>

        <td>
          <%= link_to "詳細", item_path(item.id) %>
          <% end %>
        </td>
      </tr>

    <% end %>
    <% end %>

  </tbody>

</table>

  <%= f.number_field :point %>
  <%= f.submit "結果を保存する" %>
<% end %>

<div><%= link_to "保存せず問題を入れ替える", quizzes_path(large_category_id: @large_category.id) %></div>



<script>
  $('p').hide();

  $('button').click(function() {
    $('p').toggle();
  })
</script>