
<div class="width-90p text-right-send space_5">
  <button>答えを表示する</button>
</div>


<%= form_with model: @mock_exam, url: mock_exams_path, method: :post do |f| %>
<table class="width-100p">
  <thead class="outline">
    <tr class="text-center">
      <th class="outline">番号</th>
      <th class="outline">問題</th>
      <th colspan="1" class="outline"></th>
      <th class="width-10p outline">解答</th>
      <th class="outline">答え</th>
      <th colspan="1" class="outline"></th>
    </tr>
  </thead>


  <tbody>

    <% @count = 0 %>

    <% @items.each do |item| %>


    <% item.quizzes.take(40).each do |quiz| %>
      <tr>
        <td class="text-center outline"><%= @count += 1 %></td>
        <td class="outline"><%= safe_join(quiz.question.split("\n"),tag(:br)) %></td>

        <td class="outline">
          <div class="image">
            A<%= image_tag quiz.get_number_a_image(50, 50) %>
            B<%= image_tag quiz.get_number_b_image(50, 50) %>
            C<%= image_tag quiz.get_number_c_image(50, 50) %>
          </div>
          <!--ポップアップ内-->
          <div class="pop-up center">
            <div>
              <table>
                <thead>
                  <tr class="text-center">
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= image_tag quiz.get_number_a_image(170, 130) %></td>
                    <td><%= image_tag quiz.get_number_b_image(170, 130) %></td>
                    <td><%= image_tag quiz.get_number_c_image(170, 130) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>

        <td class="outline">
          <%= f.fields_for :answers, @mock_exam.answers.build, url: answers_path, method: :post do |a| %>
            <div class="flex"><%= a.check_box :scoring %><%= a.text_field :answer, class: "width-100p left-space-5" %></div>
        </td>
            <%= a.hidden_field :quiz_id, value: quiz.id %>
        </td>

        <td class="outline">

          <p class="text-center"><%= quiz.correct_answer %></p>

        </td>

        <td class="outline text-center">
          <%= link_to "詳細", item_path(item.id), class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>

    <% end %>
    <% end %>

  </tbody>

</table>

<div class="text-center width-50p top_50">

<p>
  <% if @mock_exam.errors.any? %>
    <% @mock_exam.errors.full_messages.each do |messeage| %>
      <div>・<%= messeage %></div>
    <% end %>
  <% end %>
</p>

  <%= f.number_field :point, class: "width-20p", :required => true %> /40
  <%= f.submit "結果を保存する", class: "btn btn-success left-space-50" %>
<% end %>
</div>

<div class="text-center">
  <%= link_to('保存せず問題を入れ替える', 'javascript:void(0);', onclick: "window.location.reload();", class: "btn btn-primary top_50")  %>
</div>



<script>
  $('p').hide();

  $('button').click(function() {
    $('p').toggle();
  })
</script>

