
<p>
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |messeage| %>
      <div>・<%= messeage %></div>
    <% end %>
  <% end %>
</p>

<div class="flex">

  <div class="title">項目編集</div>
  <div><%= link_to "削除する", admin_item_path(@item.id), method: :delete, "data-confirm" => "削除しますか？", class: "sp-font-12 btn btn-danger left-space-50" %></div>

</div>


<div>

  <div>

    <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>

    <div class="sp-font-12"><%= link_to "選び直す", edit_admin_item_path(@item.id) %></div>

    <!--カテゴリ選択-->
    <div class="space_15">
      <div class="top_10 space_10 sp-font-15">変更前：<%= @item.large_category.name %> ＞ <%= @item.medium_category.name %> ＞ <%= @item.small_category.name %></div>
      <div class="flex sp-font-12">

        <div>
          <label class="underline">大カテゴリ</label>
          <div>
          <% if @large_category.present? %>

            <%= @large_category.name %>
            <% elsif @medium_category.present? %>
              <%= @medium_category.large_category.name %>
            <% elsif @small_category.present? %>
              <%= @small_category.medium_category.large_category.name %>
            <% else %>
            <% @large_categories.each do |large_category| %>
              <%= link_to large_category.name, edit_admin_item_path(large_category_id: large_category.id) %>
            <br/>
            <% end %>

            <% end %>
          </div>
        </div>


        <div class="space"> ＞ </div>

        <div>
          <label class="underline">中カテゴリ</label>
          <% if @medium_categories.present? %>
          <div>
            <% @medium_categories.each do |medium_category| %>
              <%= link_to medium_category.name, edit_admin_item_path(medium_category_id: medium_category.id) %>
              <br/>
            <% end %>
          </div>
            <% elsif @medium_category.present? %>
              <br/><%= @medium_category.name %>
            <% elsif @small_category.present? %>
              <br/><%= @small_category.medium_category.name %>
            <% else %>
          <% end %>
        </div>

        <div class="space"> ＞ </div>

        <div>
          <label class="underline">小カテゴリ</label>
          <% if @small_categories.present? %>
          <div>
            <% @small_categories.each do |small_category| %>
              <%= link_to small_category.name, edit_admin_item_path(small_category_id: small_category.id) %>
              <br/>
            <% end %>
          </div>
            <% elsif @small_category.present? %>
              <br/><%= @small_category.name %>
            <% else %>
          <% end %>
        </div>

      </div>
    </div>
    <!---->

    <div>
      <table class="width-100p">
        <tr>
          <th class="sp-width-17p width-100">項目名</th>
          <td><%= f.text_field :name, :required => true %></td>
        </tr>
        <tr>
          <th>読み</th>
          <td><%= f.text_field :reading, :required => true %></td>
        </tr>
        <tr>
          <th>情報</th>
          <td><%= f.text_area :information, class: "width-50p height-100" %></td>
        </tr>
        <tr>
          <th>解説</th>
          <td><%= f.text_area :commentary, class: "width-70p height-100" %></td>
        </tr>
        <tr>
          <th>画像1</th>
          <td>
            変更前<%= image_tag @item.get_image(150, 150) %>
            <%= f.file_field :image, accept: "image/*" %>
          </td>
        </tr>
        <tr>
          <th>他画像</th>
          <td>
            ↓削除する画像をチェックしてください↓

          <% if @item.other_images.attached? %>
            <div class="column-2 width-50p">
              <% @item.other_images.each.with_index(2) do |other_image, i| %>
              <div class="space_15 avoid">
                <div>
                  <%= f.check_box :other_image_ids, { multiple: true }, other_image.id, false %>
                  <%= "画像" + i.to_s %>
                  <label for="item_other_image_ids_<%= other_image.id %>" >
                    <%= image_tag other_image, width: 150, height: 150 %>
                  </label>
                </div>

              </div>
              <% end %>
            </div>
          <% end %>

          <!--更新と削除同時にできないので、
          更新する場合は「追加する」ボタンを用意しておいて
          クリックするとフォームと注意書きが表示されるようにする。
          また、
          [:item][:other_images].present?
          かませて、これがある場合はフォームを表示させないようにする
          -->
          <%= f.file_field :other_images, accept: "image/*", multiple: true %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit '更新する', class: "top_50 btn btn-primary sp-font-12" %></td>
        </tr>
      </table>
    </div>

    <% end %>

  </div>

</div>

