
<p>
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |messeage| %>
      <div>・<%= messeage %></div>
    <% end %>
  <% end %>
</p>

<div class="flex space_50">


<div class="width-100p">
  <div class="title">項目追加</div>


  <!--カテゴリ選択-->
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

    <div><%= link_to "選び直す", new_admin_item_path(@item.id) %></div>

    <div class="flex width-100p space_50">

    <div>
      <label class="underline">大カテゴリ</label>
      <div class="column-2">
      <% if @large_category.present? %>

        <%= @large_category.name %>
        <% elsif @medium_category.present? %>
          <%= @medium_category.large_category.name %>
        <% elsif @small_category.present? %>
          <%= @small_category.medium_category.large_category.name %>
        <% else %>
        <% @large_categories.each do |large_category| %>
          <%= link_to large_category.name, new_admin_item_path(large_category_id: large_category.id) %>
        <br/>
        <% end %>

        <% end %>

      </div>
    </div>

    <div class="space"> ＞ </div>

    <div>
    <label class="underline">中カテゴリ</label>
    <% if @medium_categories.present? %>
    <div class="column-2">
      <% @medium_categories.each do |medium_category| %>
        <%= link_to medium_category.name, new_admin_item_path(medium_category_id: medium_category.id) %>
        <br/>
      <% end %>
    </div>
      <% elsif @medium_category.present? %>
        <br/><%= @medium_category.name %>
      <% elsif @small_category.present? %>
        <br/><%= @small_category.medium_category.name %>
      <% else %>
    <% end %>

    </div>

    <div class="space"> ＞ </div>

    <div>
    <label class="underline">小カテゴリ</label>
    <% if @small_categories.present? %>
    <div class="column-2">
      <% @small_categories.each do |small_category| %>
        <%= link_to small_category.name, new_admin_item_path(small_category_id: small_category.id) %>
        <br/>
      <% end %>
    </div>
      <% elsif @small_category.present? %>
        <br/><%= @small_category.name %>
      <% else %>
    <% end %>
    </div>

    </div>
    <!---->

    <div>
      <table class="width-70p">
        <tr>
          <th>項目名</th>
          <td><%= f.text_field :name, :required => true %></td>
        </tr>
        <tr>
          <th>読み</th>
          <td><%= f.text_field :reading, :required => true %></td>
        </tr>
        <tr>
          <th>情報</th>
          <td><%= f.text_area :information, class: "width-50p height-100", :required => true %></td>
        </tr>
        <tr>
          <th>解説</th>
          <td><%= f.text_area :commentary, class: "width-70p height-100" %></td>
        </tr>
        <tr>
          <th>画像1</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>他画像</th>
          <td><%= f.file_field :other_images, accept: "image/*", multiple: true %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit '追加する', class: "top_50 btn btn-primary" %></td>
        </tr>
      </table>
    </div>


    <% end %>


</div>




<div class="scroll right-send height-680">
  <div>項目一覧</div>
  <% @large_categories.each do |large_category| %>
    〇<%= large_category.name %>

    <div class="left-space-10">
    <% large_category.medium_categories.each do |medium_category| %>
      ・<%= medium_category.name %>


      <div class="left-space-10">
      <% medium_category.small_categories.each do |small_category| %>
        ><%= small_category.name %>

        <div class="left-space-20">
        <% small_category.items.order(:reading).each do |item| %>
          -<%= link_to item.name, item_path(item.id) %>
          </br>
        <% end %>
        </div>

      <% end %>
      </div>

    <% end %>
    </div>

  <% end %>
</div>

</div>