
<div>自分の投稿一覧</div>


<div>

  <% @my_posts.each do |my_post| %>

  <%= link_to(board_post_path(my_post.id)) do %>

    <div>
      <label>タイトル</label>
      <div><%= my_post.board_title %></div>
    </div>

    <div>
      <label>作成日時</label>
      <div><%= my_post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
    </div>

    <div>
      <label>本文</label>
      <div><%= my_post.board_text %></div>
    </div>

    <div>
      <label>カテゴリ</label>
      <div><%= my_post.large_category.name %></div>
    </div>

    <% end %>

    <% end %>
</div>