
<div>

  <div class="title">自分の投稿一覧(<%= @my_posts.count %>件)</div>

  <% if @my_posts.count == 0 %>

  <div>まだコメントをしていません。</div>

  <% else %>
  <div>

    <table class="space_30">
      <thead>
        <tr>
          <th class="outline">タイトル</th>
          <th class="outline">本文</th>
          <th class="outline">カテゴリ</th>
          <th class="outline">※</th>
          <th colspan="1" class="outline"></th>
          <th colspan="1" class="outline"></th>
        </tr>
      </thead>
      <% @my_posts.each do |my_post| %>
      <tbody>
        <tr>
          <td class="outline"><%= my_post.board_title %></td>
          <td class="outline"><%= my_post.board_text.truncate(33) %></td>
          <td class="outline"><%= my_post.large_category.name %></td>
          <td class="outline"><%= my_post.comments.count %></td>
          <td class="outline sp-width-13p"><%= link_to "詳細", board_post_path(my_post.id), class: "sp-font-10 btn btn-success btn-sm" %></td>
          <td class="outline sp-width-13p"><%= link_to "削除", board_post_path(my_post.id), method: :delete, class: "sp-font-10 btn btn-danger btn-sm", "data-confirm" => "削除しますか？" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>

  <% end %>
</div>