
<p>
  <% if @board_post.errors.any? %>
    <% @board_post.errors.full_messages.each do |messeage| %>
      <div>・<%= messeage %></div>
    <% end %>
  <% end %>
</p>

<div class="title">掲示板新規投稿</div>

<div>

  <%= form_with model: @board_post, url: board_posts_path, method: :post do |f| %>

  <div>

    <table class="width-80p">
      <tr>
        <th class="width-15p">カテゴリ選択</th>
        <td><%= f.collection_select :large_category_id, LargeCategory.all, :id, :name, include_blank: "--選択してください--" %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= f.text_field :board_title, :required => true %></td>
      </tr>
      <tr>
        <th>本文</th>
        <td><%= f.text_area :board_text, class: "width-70p", :required => true %></td>
      </tr>
      <tr>
        <th colspan="1"></th>
        <td><%= f.submit '投稿する', class: "btn btn-primary" %></td>
      </tr>
    </table>

  </div>

  <% end %>

</div>