
<div>投稿詳細</div>

<!--以下管理人のみ表示-->
<% if admin_signed_in? %>
  <%= link_to "削除する", board_post_path(@board_post.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" %>
<% end %>

<div>

  <div>
    <label>タイトル</label>
    <div><%= @board_post.board_title %></div>
  </div>

  <div>
    <label>作成日時</label>
    <div><%= @board_post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
  </div>

  <div>
    <label>本文</label>
    <div><%= @board_post.board_text %></div>
  </div>

  <div>
    <label>ユーザ名</label>
    <div><%= @board_post.customer.name %></div>
  </div>

  <div>
    <label>カテゴリ</label>
    <div><%= @board_post.large_category.name %></div>
  </div>

  <div>
    <label>コメント数</label>
    <div><%= @board_post.comments.count %></div>
  </div>

</div>


<div>
  <div>コメント</div>
  <% @comments.each do |comment| %>
    <div>

      <label>投稿日時</label>
      <div><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
    </div>

    <div>
      <label>本文</label>
      <div><%= comment.comment_text %></div>
    </div>

    <div>
      <label>ユーザ名</label>
      <div><%= comment.customer.name %></div>
    </div>

    <!--以下管理人のみ表示-->
    <div>
    <% if admin_signed_in? %>
      <%= link_to "削除する", comment_path(comment.id), method: :delete, "data-confirm" => "このコメントを削除しますか？" %>
    <% end %>
    </div>

  <% end %>
  <div></div>
</div>


<div>
  <div>コメント</div>
  <%= form_with model: @comment, url: comments_path, method: :post do |f| %>

    <div><%= f.text_area :comment_text %></div>
    <div><%= f.hidden_field :board_post_id, :value => @board_post.id %></div>
    <div><%= f.submit 'コメントする' %></div>

  <% end %>
</div>


<!--以下管理人のみ表示-->
<% if admin_signed_in? %>

<% end %>
