

<!--以下管理人のみ表示-->
<% if admin_signed_in? %>
  <%= link_to "削除する", board_post_path(@board_post.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" %>
<% end %>
<!---->

<div class="flex">
  <!--投稿-->
  <div class="outline width-40p board_card">

    <div class="text-center font-25 underline"><%= @board_post.board_title %></div>
    <div class="text-right-send"><%= @board_post.created_at.strftime('%Y/%m/%d %H:%M') %></div>
    <div class="board_text space_5"><%= safe_join(@board_post.board_text.split("\n"),tag(:br)) %></div>
    <div class="text-right-send2 flex">
      <div>※<%= @board_post.comments.count %></div>
      <div class="outline board_cate left-space-10"><%= @board_post.large_category.name %></div>
    </div>
    <div><%= @board_post.customer.name %></div>

  </div>


  <!--コメント-->
  <div class="width-40p left-space-40">
    <div>コメント一覧(<%= @comments.count %>)</div>
    <% @comments.each do |comment| %>

    <div class="board_card">
      <div class="text-right-send"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
      <div class="board_text"><%= safe_join(comment.comment_text.split("\n"),tag(:br)) %></div>
      <div><%= comment.customer.name %></div>
    </div>

      <!--以下管理人のみ表示-->
      <div>
      <% if admin_signed_in? %>
        <%= link_to "削除する", comment_path(comment.id), method: :delete, "data-confirm" => "このコメントを削除しますか？" %>
      <% end %>
      </div>
      <!---->

    <% end %>
    <div></div>
  </div>

</div>

<!--コメ投稿フォーム-->
<div class="width-30p top_50">
  <div>コメント投稿</div>
  <%= form_with model: @comment, url: comments_path, method: :post do |f| %>

    <div><%= f.text_area :comment_text %></div>
    <div><%= f.hidden_field :board_post_id, :value => @board_post.id %></div>
    <div><%= f.submit 'コメントする' %></div>

  <% end %>
</div>

