

<div>カテゴリ管理</div>


<div>

  <div>
    <%= form_with model: @large_category, url: admin_large_create_path, method: :post do |f| %>
    <label>大カテゴリ</label>
    <div><%= f.text_field :name %></div>
    <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>

</div>

  <div>
    <%= form_with model: @medium_category, url: admin_medium_create_path, method: :post do |f| %>
    <label>中カテゴリ</label>
    <div><%= f.collection_select :large_category_id, LargeCategory.all, :id, :name, include_blank: "--選択してください--" %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>

  <div>
    <%= form_with model: @small_category, url: admin_small_create_path, method: :post do |f| %>
    <label>小カテゴリ</label>
    <div><%= f.collection_select :large_category_id, LargeCategory.all, :id, :name, include_blank: "--選択してください--" %></div>
    <div><%= f.collection_select :medium_category_id, MediumCategory.all, :id, :name, include_blank: "--選択してください--" %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>

<br/>
<br/>
<div>
  <label>大カテゴリ</label>
  <% @large_categories.each do |large_category| %>
  <br/>
    <%= large_category.name %>
    <%= link_to "削除", admin_large_destroy_path(large_category), method: :delete %>
  <% end %>
</div>

<br/>
<br/>
<div>
  <label>中カテゴリ</label>
  <% @medium_categories.each do |medium_category| %>
  <br/>
    <%= medium_category.name %>
    <%= medium_category.large_category.name %>
  <% end %>
</div>

<br/>
<br/>
<div>
  <label>小カテゴリ</label>
  <br/>
  <% @small_categories.each do |small_category| %>
    <%= small_category.name %>
    <%= small_category.medium_category.name %>
    <%= small_category.medium_category.large_category.name %>
  <% end %>
</div>