

<div class="flex width-100p">


<div class="width-50p">
  <div class="title">カテゴリ管理</div>

  <div><%= link_to "選び直す", admin_large_categories_path %></div>

  <div>

  <div>
    <!--大カテ追加-->

      <!--エラー文-->
      <p>
        <% if @large_category.errors.any? %>
          <% @large_category.errors.full_messages.each do |messeage| %>
            <div>・<%= messeage %></div>
          <% end %>
        <% end %>
      </p>
      <!---->

      <%= form_with model: @large_category, url: admin_large_create_path, method: :post do |f| %>
      <div class="top_30 flex">
        <div><%= f.text_field :name, placeholder: "大カテゴリ追加", :required => true %></div>
        <div><%= f.submit '追加する' %></div>
      </div>
      <% end %>
    <!---->
  </div>
</div>
  <div>

<br/>

    <!--大カテ選択-->
    <div class="font-20 space_10">大カテ選択</div>
    <% if @large_select.present? %>
      > <%= @large_select.name %> <
    <% elsif @medium_select.present? %>
      > <%= @medium_select.large_category.name %> <
    <% else %>
    <div class="column-2">
      <% @large_categories.each do |large_category| %>
        <div><%= link_to large_category.name, admin_large_categories_path(large_category_id: large_category.id) %></div>
      <% end %>
    </div>
    <% end %>
    <!---->


    <!--中カテ追加-->
      <!--エラー文-->
      <p>
        <% if @medium_category.errors.any? %>
          <% @medium_category.errors.full_messages.each do |messeage| %>
            <div>・<%= messeage %></div>
          <% end %>
        <% end %>
      </p>
      <!---->

      <div>
        <%= form_with model: @medium_category, url: admin_medium_create_path, method: :post do |f| %>
        <div class="top_30 flex">
          <div><%= f.text_field :name, placeholder: "中カテゴリ追加", :required => true %></div>
          <div><%= f.submit '追加する' %></div>
        </div>
        <% end %>
      </div>
    <!---->

    </div>

<br/>

  <div>
    <!--中カテ選択-->
    <div class="font-20 space_10">中カテ選択</div>
    <% if @medium_selects.present? %>
    <div class="column-2">
      <% @medium_selects.each do |medium_category| %>
        <div><%= link_to medium_category.name, admin_large_categories_path(medium_category_id: medium_category.id) %></div>
      <% end %>
    </div>
    <% elsif @medium_select.present? %>
      <div class="column-2">> <%= @medium_select.name %> <</div>
    <% else %>
    <% end %>
    <!---->

    <!--小カテ追加-->

      <!--エラー文-->
      <p>
        <% if @small_category.errors.any? %>
          <% @small_category.errors.full_messages.each do |messeage| %>
            <div>・<%= messeage %></div>
          <% end %>
        <% end %>
      </p>
      <!---->

    <%= form_with model: @small_category, url: admin_small_create_path, method: :post do |f| %>
    <div class="top_30 flex">
      <div><%= f.text_field :name, placeholder: "小カテゴリ追加", :required => true %></div>
      <div><%= f.submit '追加する' %></div>
    </div>
    <% end %>
    <!---->
  </div>
</div>

<!--カテゴリ一覧-->
<div class="scroll right-send height-680">

  <div>

    <div>

    <div class="avoid">
    <% @large_categories.each do |large_category| %>
    <div class="underline font-20">
      <%= link_to large_category.name, admin_large_destroy_path(large_category), method: :delete, "data-confirm" => "削除しますか？" %>
      <label class="font-12 top-bottom-text-center">(<%= large_category.medium_categories.count %>)</label>
    </div>

    <div>
    <% large_category.medium_categories.each do |medium_category| %>
    <div class="left-space-10">
      ●<%= link_to medium_category.name, admin_medium_destroy_path(medium_category), method: :delete, "data-confirm" => "削除しますか？" %>
      <label class="font-12 top-bottom-text-center">(<%= medium_category.small_categories.count %>)</label>
    </div>
    <div>
    <% medium_category.small_categories.each do |small_category| %>
    <div class="left-space-20">
      ><%= link_to small_category.name, admin_small_destroy_path(small_category), method: :delete, "data-confirm" => "削除しますか？" %>
      <label class="font-12 top-bottom-text-center">(<%= small_category.items.count %>)</label>
    </div>

    <% end %>
    </div>
    <% end %>
    </div>
    <% end %>
    </div>

    </div>
  </div>

</div>
<!---->

</div>