

<div>カテゴリ管理</div>

<div>

  <div>
    <%= form_with model: @large_category, url: admin_large_create_path, method: :post do |f| %>
    <label>大カテゴリ</label>
    <div><%= f.text_field :name %></div>
    <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>

</div>

  <div>
    <%= form_with model: @medium_category, url: admin_medium_create_path, method: :post do |f| %>

<br/>
<br/>

    <label>中カテゴリ</label>

    <!--大カテ選択-->
    <div>大カテ選択</div>
    <% if @large_categories.present? %>
      <% @large_categories.each do |large_category| %>
        <%= link_to large_category.name, admin_large_categories_path(large_category_id: large_category.id) %>
        <br/>
      <% end %>
    <% elsif @large_select.present? %>
      <%= @large_select.name %>
    <% end %>

    <div><%= f.text_field :name %></div>
    <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>

<br/>
<br/>

  <div>
    <%= form_with model: @small_category, url: admin_small_create_path, method: :post do |f| %>
    <label>小カテゴリ</label>

    <!--大カテ選択-->
    <div>大カテ選択</div>
    <% if @large_categories.present? %>
      <% @large_categories.each do |large_category| %>
        <%= link_to large_category.name, admin_large_categories_path(large_category_id: large_category.id) %>
        <br/>
      <% end %>
    <% elsif @large_select.present? %>
      <%= @large_select.name %>
    <% end %>

    <div>中カテ選択</div>
    <% if @medium_selects.present? %>
      <% @medium_selects.each do |medium_category| %>
        <%= link_to medium_category.name, admin_large_categories_path(medium_category_id: medium_category.id) %>
        <br/>
      <% end %>
    <% elsif @medium_select.present? %>
      <%= @medium_select.name %>
    <% else %>
    <% end %>
    <div><%= f.text_field :name %></div>
    <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>

<br/>
<br/>


<div>
  <% @large_categories.each do |large_category| %>
  </br>
  </br>
    <%= link_to large_category.name, admin_large_destroy_path(large_category), method: :delete, "data-confirm" => "削除しますか？" %>
  </br>
    ●<% large_category.medium_categories.each do |medium_category| %>
      <%= link_to medium_category.name, admin_medium_destroy_path(medium_category), method: :delete, "data-confirm" => "削除しますか？" %>
      <% medium_category.small_categories.each do |small_category| %>
  </br>
        ><%= link_to small_category.name, admin_small_destroy_path(small_category), method: :delete, "data-confirm" => "削除しますか？" %>
      <% end %>
    <% end %>
  <% end %>
</div>
