
<p id="notice">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</p>

<div class="title">管理者ログイン</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table class="no-deco">
  <tr>
    <th class="text-right-send">メールアドレス</th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  <tr>
    <th class="text-right-send">パスワード</th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit "ログイン", class: 'btn btn-success' %></td>
  </tr>
</table>

<% end %>

