
<p>
  <% if @customer.errors.any? %>
    <% @customer.errors.full_messages.each do |messeage| %>
      <div>・<%= messeage %></div>
    <% end %>
  <% end %>
</p>


<div class="title"><%= @customer.name %>さんの会員情報編集</div>


<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>


<table>
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <th>ユーザ名</th>
    <td><%= f.text_field :name, :required => true %></td>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <td>
      <div>
        <%= f.radio_button :is_active, true %>
        <label class="right-space">有効</label>
      </div>
      <div>
        <%= f.radio_button :is_active, false %>
        <label>退会</label>
      </div>
    </td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
  </tr>
</table>


<% end %>