
<p>
  <% if @quiz.errors.any? %>
    <% @quiz.errors.full_messages.each do |messeage| %>
      <div>・<%= messeage %></div>
    <% end %>
  <% end %>
</p>

<div class="flex">

  <div class="title">問題編集</div>
  <div class="left-space-40"><%= link_to "削除する", admin_quiz_path(@quiz.id, item_id: @item.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn btn-danger" %></div>

</div>


<div>
  <%= form_with model: @quiz, url: admin_quiz_path(item_id: @item.id), method: :patch do |f| %>
  <table class="width-90p">
    <tr>
      <th>問題</th>
      <td><%= f.text_field :question, class: "width-70p" %></td>
    </tr>
    <tr>
      <th>答え</th>
      <td><%= f.text_field :correct_answer %></td>
    </tr>
    <tr>
      <th>画像A</th>
      <td>
        変更前
        <div class="flex">
          <div><%= image_tag @quiz.get_number_a_image(170, 130) %></div>
          <div><%= f.file_field :number_a_image, accept: "image/*" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <th>画像B</th>
      <td>
        変更前
        <div class="flex">
          <div><%= image_tag @quiz.get_number_b_image(170, 130) %></div>
          <div><%= f.file_field :number_b_image, accept: "image/*" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <th>画像C</th>
      <td>
        変更前
        <div class="flex">
          <div><%= image_tag @quiz.get_number_c_image(170, 130) %></div>
          <div><%= f.file_field :number_c_image, accept: "image/*" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit '更新する', class: "btn btn-success" %></td>
    </tr>

  </table>
  <% end %>
</div>
