
<div>模試履歴一覧</div>


<table>
  <% @mock_exams.each do |mock_exam| %>
  <thead>
    <tr>
      <th>日時</th>
      <th>カテゴリ</th>
      <td>正解数</td>
      <td colspan="1"></td>
      <td colspan="1"></td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= mock_exam.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td>
        <% mock_exam.answers.take(1).each do |answer| %>
          <%= answer.quiz.item.large_category.name %>
        <% end %>
      </td>
      <td><%= mock_exam.point %>/40</td>
      <td><%= link_to "詳細", mock_exam_path(mock_exam.id) %></td>
      <td><%= link_to "削除", mock_exam_path(mock_exam.id), method: :delete %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<div>

