

<!--頭部分-->
<div class="title">模試履歴詳細</div>

<div class="flex space_30">
  <div><%= @mock_exam.created_at.strftime('%Y/%m/%d %H:%M') %></div>
  <div class="left-space-10">
    <% @mock_exam.answers.take(1).each do |answer| %>
      <%= answer.quiz.item.large_category.name %>
    <% end %>
  </div>
  <div class="left-space-20"><%= link_to "削除", mock_exam_path(@mock_exam.id), method: :delete, "data-confirm" => "削除しますか？", class: "sp-font-10 btn btn-danger" %></div>
  <div class="font-20 left-space-20"><%= @mock_exam.point %> /40</div>
</div>
<!---->


<!--模試詳細部分-->


<table class="width-100p">
  <thead>
    <tr class="text-center">
      <th class="outline">番号</th>
      <th class="outline">問題</th>
      <th colspan="1" class="outline"></th>
      <th class="width-10p outline">解答</th>
      <th class="outline">答え</th>
      <th colspan="1" class="outline"></th>
    </tr>
  </thead>

  <% @mock_exam.answers.each.with_index(1) do |answer, i| %>
  <tbody>

      <tr>
        <td class="text-center outline"><%= i %></td>
        <td class="outline"><%= safe_join(answer.quiz.question.split("\n"),tag(:br)) %></td>

        <td class="outline">
          <div class="image">
            <span class="pc">
              A<%= image_tag answer.quiz.get_number_a_image(50, 50) %>
              B<%= image_tag answer.quiz.get_number_b_image(50, 50) %>
              C<%= image_tag answer.quiz.get_number_c_image(50, 50) %>
            </span>
            <span class="sp underline sp-font-10">画像を表示</span>
          </div>
          <!--ポップアップ内-->
          <div class="pop-up center">
            <div>
              <table class="pc">
                <thead>
                  <tr class="text-center">
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= image_tag answer.quiz.get_number_a_image(170, 130) %></td>
                    <td><%= image_tag answer.quiz.get_number_b_image(170, 130) %></td>
                    <td><%= image_tag answer.quiz.get_number_c_image(170, 130) %></td>
                  </tr>
                </tbody>
              </table>

              <table class="sp">
                <thead>
                  <tr class="text-center">
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= image_tag answer.quiz.get_number_a_image(125, 90) %></td>
                    <td><%= image_tag answer.quiz.get_number_b_image(125, 90) %></td>
                    <td><%= image_tag answer.quiz.get_number_c_image(125, 90) %></td>
                  </tr>
                </tbody>
              </table>
            </div>

            </div>
          </div>
        </td>

        <td class="outline">
          <div class="flex text-center">
            <div>
            <% if answer.scoring %>
              <span class="maru">〇</span>
            <% else %>
              <span class="batu">✕</span>
            <% end %>
            </div>
            <div class="width-80p"><%= answer.answer %></div>
          </div>
        </td>

        <td class="outline text-center"><%= answer.quiz.correct_answer %></td>

        <td class="outline text-center">
          <%= link_to "詳細", item_path(answer.quiz.item.id), class: "sp-font-11 btn btn-success" %>
        </td>
      </tr>

    <% end %>

  </tbody>

</table>

