
<div>模試履歴詳細</div>

<div><%= @mock_exam.created_at.strftime('%Y/%m/%d %H:%M') %></div>
<div>
  <% @mock_exam.answers.take(1).each do |answer| %>
    <%= answer.quiz.item.large_category.name %>
  <% end %>
</div>
<div><%= @mock_exam.point %>/40</div>

<table>
  <% @mock_exam.answers.each do |answer| %>

  <thead>
    <tr>
      <th>番号</th>
      <th>問題</th>
      <th colspan="1"></th>
      <th>解答</th>
      <th>答え</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td><%= answer.quiz.question %></td>
      <td>画像</td>
      <td>
        <% if answer.scoring %>
          〇
        <% else %>
          ✕
        <% end %>
        <%= answer.answer %>
      </td>
      <td><%= answer.quiz.correct_answer %></td>
      <td><%= link_to "詳細", item_path(answer.quiz.item.id) %></td>
    </tr>
  </tbody>
  <% end %>
</table>

