
<p id="notice">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
</p>

<% if admin_signed_in? %>
  <div class="red space_10">
    管理者としてログインしています。</br>ログアウトをしてください。
  </div>
<% end %>


<div class="title">ログイン</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table class="no-deco">
    <tr>
      <th class="text-right-send sign-up-item">ユーザ名</th>
      <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
    </tr>
    <tr>
      <th class="text-right-send sign-up-item">パスワード</th>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th></th>
      <% if admin_signed_in? %>
      <% else %>
      <td><%= f.submit "ログイン", class: 'btn btn-success' %></td>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <td>新規登録は<%= render "public/shared/links" %>から</td>
    </tr>
  </table>

<% end %>