

<%= @item.large_category.name %> > <%= @item.medium_category.name %> > <%= @item.small_category.name %>
<div>
  画像
  <%= image_tag @item.get_image(200, 200) %>
</div>

<div>
  名称：<%= @item.name %>
  <%= @item.information %>
</div>

<div>
  ＜その他＞</br>
  <%= @item.commentary %>
</div>

<div>
  他画像
  <% if @item.other_images.attached? %>
    <% @item.other_images.each do |other_image| %>
      <%= image_tag other_image, width: 100, height: 100 %>
    <% end %>
  <% end %>
</div>

<!--以下管理者　問題管理画面-->
<% if admin_signed_in? %>
</br>
</br>

<div>
  <%= link_to "修正する", edit_admin_item_path(@item.id) %>
</div>

<div>

  <div>この項目の問題一覧</div>
  <div>
    <% @quizzes.each do |quiz| %>
      問題文　<%= quiz.question %>
      答え　<%= quiz.correct_answer %>
      A<%= image_tag quiz.get_number_a_image(30, 30) %>
      B<%= image_tag quiz.get_number_b_image(30, 30) %>
      C<%= image_tag quiz.get_number_c_image(30, 30) %>
      <div><%= link_to "修正する", edit_admin_quiz_path(quiz.id, item_id: @item.id) %></div>
    <% end %>
  </div>
</div>

<div>
  <div>問題追加</div>
  <div>
    <%= form_with model: @quiz, url: admin_quizzes_path(item_id: @item.id), method: :post do |f| %>
      <div>
        問題
        <%= f.text_field :question %>
      </div>
      <div>
        答え
        <%= f.text_field :correct_answer %>
      </div>
      <div>
        画像A
        <%= f.file_field :number_a_image, accept: "image/*" %>
      </div>
      <div>
        画像B
        <%= f.file_field :number_b_image, accept: "image/*" %>
      </div>
      <div>
        画像C
        <%= f.file_field :number_c_image, accept: "image/*" %>
      </div>
      <div><%= f.submit '追加する' %></div>
    <% end %>
  </div>
</div>

<% end %>