
<div class="space_30">
  <%= link_to @item.large_category.name, categories_path(large_category_id: @item.large_category.id) %> >
  <%= @item.medium_category.name %> >
  <%= link_to @item.small_category.name, items_path(small_category_id: @item.small_category.id) %>
</div>

<div class="flex">

  <div class="width-50p sp-font-12">
    <div class="flex space_50">

      <div>
        <label class="space_2">画像1</label>
        <div><%= image_tag @item.get_image(200, 200) %></div>
      </div>

      <div class="left-space-20">
        </br>
        <div>名称：<%= @item.name %></div>
        <div>読み方：<%= @item.reading %></div>
        <div class="top_10"><%= safe_join(@item.information.split("\n"),tag(:br)) %></div>
      </div>

    </div>

    <div class="width-80p">
      <label class="space_10">＜その他＞</label>
      <div><%= safe_join(@item.commentary.split("\n"),tag(:br)) %></div>
    </div>
  </div>


  <div class="column-2 width-50p colum-initial">
    <% if @item.other_images.attached? %>
      <% @item.other_images.each.with_index(2) do |other_image, i| %>
      <div class="space_15 avoid  sp-left-50">
        <div class="space_2"><%= "画像" + i.to_s %></div>
        <div><%= image_tag other_image, width: 150, height: 150 %></div>
      </div>
      <% end %>
    <% end %>
  </div>


</div>





<!--以下管理者　問題管理画面-->
<% if admin_signed_in? %>

<div clasS="width-70p space_50">
  <div class="text-center"><%= link_to "修正する", edit_admin_item_path(@item.id), class: "btn btn-success" %></div>
</div>


<div class="space_50">
  <div class="title">この項目の問題一覧</div>

  <% if @quizzes.count == 0 %>
  <div>まだこの項目に問題はありません。</div>

  <% else %>
  <div>
    <table>
      <thead>
        <tr>
          <th class="outline">問題文</th>
          <th class="outline">答え</th>
          <th class="outline">画像</th>
          <th colspan="1" class="outline"></th>
        </tr>
      </thead>
      <% @quizzes.each do |quiz| %>
      <tbody>
        <tr>
          <td class="outline sp-font-10"><%= safe_join(quiz.question.split("\n"),tag(:br)) %></td>
          <td class="outline sp-font-10"><%= quiz.correct_answer %></td>

          <td class="outline sp-width-50p">
            <div class="image">
              A<%= image_tag quiz.get_number_a_image(50, 50) %>
              B<%= image_tag quiz.get_number_b_image(50, 50) %>
              C<%= image_tag quiz.get_number_c_image(50, 50) %>
            </div>
            <!--ポップアップ内-->
            <div class="pop-up center">
              <div>
                <table>
                  <thead>
                    <tr class="text-center">
                      <th>A</th>
                      <th>B</th>
                      <th>C</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= image_tag quiz.get_number_a_image(170, 130) %></td>
                      <td><%= image_tag quiz.get_number_b_image(170, 130) %></td>
                      <td><%= image_tag quiz.get_number_c_image(170, 130) %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>

          <td class="outline sp-width-11p"><%= link_to "修正", edit_admin_quiz_path(quiz.id, item_id: quiz.item.id), class: "sp-mini-button sp-font-10 btn btn-success" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>

  </div>
  <% end %>
</div>


<div class="width-100p">
  <div class="title">問題追加</div>

  <div>

    <%= form_with model: @quiz, url: admin_quizzes_path(item_id: @item.id), method: :post do |f| %>
    <table class="width-100p">

      <tr>
        <th>問題文</th>
        <td><%= f.text_area :question, :required => true, class: "width-70p height-55" %></td>
      </tr>
      <tr>
        <th>答え</th>
        <td><%= f.text_field :correct_answer, :required => true %></td>
      </tr>
      <tr>
        <th>画像A</th>
        <td><%= f.file_field :number_a_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th>画像B</th>
        <td><%= f.file_field :number_b_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th>画像C</th>
        <td><%= f.file_field :number_c_image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit '追加する', class: "btn btn-primary" %></td>
      </tr>
    </table>
    <% end %>

  </div>

</div>
<% end %>