

<div>
  画像
  <%= image_tag @item.get_image(200, 200) %>
</div>

<div>
  名称：<%= @item.name %>
  <%= @item.information %>
</div>

<div>
  ＜その他＞</br>
  <%= @item.commentary %>
</div>

<div>
  他画像
  <% if @item.other_images.attached? %>
    <% @item.other_images.each do |other_image| %>
      <%= image_tag other_image, width: 100, height: 100 %>
    <% end %>
  <% end %>
</div>